@import "tailwindcss";

@layer theme {
  :root {
    /* colors */
    --lemon: #fff2c0;
    --navy: #1c376b;
    --sky: #c2ecff;
    --gray: #4e4e4e;
    --lightgray: #808080;
    --black: #1e1e1e;

    /* shadow */
    --shadow-card: 2px 2px 7px rgba(0, 0, 0, 0.25);
  }
}

/* semantic utilities */
.bg-navy {
  background-color: var(--navy);
}
.text-navy {
  color: var(--navy);
}
.bg-lemon {
  background-color: var(--lemon);
}
.text-lemon {
  color: var(--lemon);
}
.bg-sky {
  background-color: var(--sky);
}
.text-gray {
  color: var(--gray);
}
.bg-lightgray {
  color: var(--lightgray);
}
.text-lightgray {
  color: var(--lightgray);
}
.text-black {
  color: var(--black);
}
.border-gray {
  border-color: var(--gray);
}
.border-lightgray {
  border-color: var(--lightgray);
}
.bg-gradient-sky {
  background: linear-gradient(to bottom, white, var(--sky));
}
.bg-gradient-lemon {
  background: linear-gradient(to bottom, white, var(--lemon));
}

@font-face {
  font-family: "Sunshiney";
  src: url("/fonts/Sunshiney-Regular.ttf") format("truetype");
}

.font-sunshiney {
  font-family: "Sunshiney", sans-serif;
}

@font-face {
  font-family: "NotoSansKR";
  src: url("/fonts/NotoSansKR-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

.font-noto {
  font-family: "NotoSansKR", sans-serif;
}

.text-stroke {
  -webkit-text-stroke: 1px var(--lightgray);
  text-stroke: 1px var(--lightgray);
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}*/

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: "Noto Sans KR", sans-serif;
}
